$primary-color: #F07D07;
$dark: #161616;

ion-header {
    background-color: #202020;
    padding: 7px 5px;
    border-radius: 0px 0px 40px 40px;
}

.logo-bar, .profile, .options-bar {
    display: flex;
}

.logo {
    font-size: 2em;
    color: white;
}

.header-btns {
    color: white;
}

ion-button {
    --border-radius: 50% !important;
    --ion-toolbar-color: #161616 !important;
    --ion-toolbar-background: #F07D07 !important;
    font-size: 0.6em;

    ion-icon {
        margin: 0 2px;
    }
}

.profile {
    padding: 0px 30px 0px 30px;

    ion-icon {
        font-size: 5em;
        color: $primary-color;
        margin-right: 10px;
    }

    h4 {
        font-weight: 600;
        color: white;
        margin-bottom: 0px;
    }

    p {
        font-weight: 600;
        margin-top: 5px;
    }
}

.options-bar {
    color: $primary-color;
    font-size: 0.7em;
    margin: 20px 30px 0 30px;
    background-color: $dark;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    justify-content: center;

    #second {
        margin-left: 10px;
    }
}