<ion-header *ngIf="user">
  <ion-toolbar>
    <ion-buttons slot="start" class="header-btns">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> 

    <ion-title class="logo ion-text-center">
      <ion-icon name="barbell-sharp"></ion-icon>
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button fill="solid">
        <ion-icon slot="end" name="notifications"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>

  <div class="profile">
    <ion-icon name="person-circle-sharp"></ion-icon>
    <div>
      <h4>{{user.nome}}</h4>
      <p [style.color]="user.levelColor ? user.levelColor : 'white'">Nível {{user.levelName}}</p>
    </div>
  </div>

  <div class="options-bar">
    <div id="first">
      <ion-icon name="body-sharp"></ion-icon>
      <span> MEU CORPO</span>
    </div>

    <div id="second">
      <ion-icon name="trophy-sharp"></ion-icon>
      <span> OBJETIVOS E CONQUISTAS</span>
    </div>
  </div>
</ion-header>
