$primary-color: #F07D07;

ion-content {
  --ion-background-color: #090909;
  --color: white;
}

h2 {
  margin: 50px 25px 0 25px;
  font-weight: 600;
  padding: 3px;
  font-size: 1.2em;

  div {
    font-size: 0.3em;
    background-color: $primary-color;
    display: inline-flex;
    padding: 3px 3px 1px 3px;
    border-radius: 10px;
    vertical-align: middle;
  }

  ion-icon {
    vertical-align: middle;
    font-size: 1.2em;
    color: $primary-color;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.card-content {
  width: 100%;
  height: 100px;
  margin: 10px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swipper-siide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}